extends layout.pug
block content
    section#content
      ul  
        each color in ["black","yellow","green"]
          li= color
      h2= prompt 
      if Hint
        p  
          i Hint: #{Hint}
      else
        p there is no hint
