doctype html
html(lang="en")
  head
    title Flash Cards
  body
    header
      h1 Welcome to Express Engine #{prompt}
    section#content
      p= prompt 
      p  This is a great tool to make web pages
    footer
      p  This is a great tool to make web pages